body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    background-color:#007bff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo-title {
    display: flex;
    align-items: center;
}
.header h1 {
    margin: 0;
    font-size: 20px;
}
.header .date-time {
    font-size: 14px;
}
.header img {
    height: 50px; /* Ajusta el tamaño del logo según sea necesario */
    margin-right: 10px;
}
.sidebar {
    width: 20%;
    background-color: #e6e6e6;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    height: 100vh; /* Extender hasta abajo */
}
.content {
    width: 80%;
    padding: 20px;
}
.main-content {
    display: flex;
    flex-grow: 1;
}
.filters {
    background-color: #e6e6e6; /* Cambiar a gris */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.filters input, .filters select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: calc(100% - 22px); /* Ajuste para el padding */
    margin-bottom: 15px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.filters button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: calc(100% - 22px); /* Ajuste para el padding */
}
.filters button.clear {
    background-color: #4A90E2;
    margin-top: 10px;
}
.table-container {
    margin-top: 20px;
    background-color: white; /* Fondo blanco */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white; /* Cambiar a blanco */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
table th {
    background-color: #007bff;
    color: white;
}
table td {
    background-color: white; /* Cambiar a blanco */
}
.footer {
    background-color: #007bff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
}
.footer nav a {
    color: black;
    margin: 0 15px;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
}
.footer p {
    color: black;
    margin: 0;
    margin-left: 15px;
    position: absolute;
    left: 0;
    padding-left: 15px;
}