.app-home-container {
    display: flex;
}



.header img {
    width: 64px;
    margin-right: 10px;
}
.header .title {
    display: flex;
    align-items: center;
    font-size: 14px; /* Tamaño de letra más pequeño */
}
.header .date-time {
    margin-left: auto;
    margin-right: 20px;
    font-size: 16px;
}
.card {
    background-color: white;
    border-radius: 18px;
    margin-bottom: 2rem;
}

.table-attendance-header{
    padding: 10px;
}


.generate-report {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    margin-inline: 4rem;
    gap:15px;
}
.generate-report input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 45%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.generate-report button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}